
@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.border-right {
  border-right: 1px solid $input-border;
}

.negative {
  color: red;
}

.refresh-info {
  margin-right: 10px !important;
}

.refresh-button {
  margin: 5px 0;
}

.portfolio-table {
  .table > tbody > tr > td {
    vertical-align: middle;
  }

    .table > tbody > tr > td:first-child {
      border-left: 1px solid #ddd;
    }

    .table > thead:first-child > tr:first-child > th {
      border: 1px solid #ddd;
    }


  .table > tbody > tr > td {

    padding: 0 8px;
  }
}


//
// spinner
//
.spinner {
  position: fixed;
  z-index: 200;
  left: 50%;
  top: 30%;
  width: 70px;
  height: 70px;
  margin: 100px auto;
  margin-left: -35px;
  margin-top: -35px;
  background-color: #209c83;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
