@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.border-right {
  border-right: 1px solid $input-border;
}

.negative {
  color: red;
}

.refresh-info {
  margin-right: 10px !important;
}

.refresh-button {
  margin: 5px 0;
}

//
//  Table
//
.table > tbody > tr.info > th {
  background-color: $grey2;
  font-weight:normal;
}

.table > tbody > tr:hover {
  background-color: $grey1;
}


// Portfolio Table
.hide-row {
  position: absolute;
  top: -50000px;
}


//
// spinner
//
.spinner {
  position: fixed;
  z-index: 200;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  margin: -35px auto 100px -35px;
  background-color: #209c83;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
